{% extends "aldryn_people/fullwidth.html" %}
{% load cms_tags i18n %}

{% block people_content %}
    <div class="aldryn aldryn-people aldryn-group-list">
        {% for group in group_list %}
            <h3>{% render_model group 'name' %}</h3>
            <hr>
            <div class="container">
                <div class="row">
                {% for person in group.people.all %}
                    {% include "aldryn_people/includes/person_simple.html" with person=person %}
                {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock people_content %}
