{% extends "aldryn_people/fullwidth.html" %}
{% load cms_tags i18n %}

{% block title %}{{ group.name }} - {{ block.super }}{% endblock %}

{% block people_content %}
    <div class="aldryn aldryn-people aldryn-group-detail">
        <h3>{% render_model group "name" %}</h3>
        <hr>
        <div class="row">
        {% for person in group.people.all %}
            {% include "aldryn_people/includes/person_simple.html" with person=person %}
        {% endfor %}
        </div>
    </div>
{% endblock people_content %}
