{% load cms_tags i18n thumbnail aldryn_people_tags %}

<article class="aldryn-people-article">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-xs-12 center-block">
            {% if person.visual %}
                <p class="visual">
                    {% if instance.show_links %}
                        <a href="{{ person.get_absolute_url }}">
                    {% endif %}
                        <img src="/media/{{ person.visual.file }}" alt="{{ person.name }}" style="width: 270px;">
                    {% if instance.show_links %}
                        </a>
                    {% endif %}
                </p>
            {% endif %}

            <h5>
                {% if not detail_view %}
                    <a href="{{ person.get_absolute_url }}">{{ person.name }}</a>
                {% else %}
                    {% render_model person 'name' %}
                {% endif %}
                <small>{{ person.function }}</small>
            </h5>
        </div>

        <div class="col-lg-9 col-md-8 col-xs-12">
            {% if person.description %}
                <div>{{ person.description|safe }}</div>
            {% endif %}
        </div>
    </div>
</article>
